
  <%- include('partials/header.ejs') %> 

  <div class="container">
    <h1>Activity ゲットー (ง •̀_•́)ง</h1>
    <div class="activity-div">
    <p>Activity: <%= data.activity %> </p>
    <p>Type: <%= data.type%> </p>
    <p>Price Rating: <%= data.price %> </p>
    </div>

  <div>
         <button class="btn"><a href="/">Home</a></button>
    </div>
  
  <%- include('partials/footer.ejs') %> 
    



