
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Today's Weather:</h1>
    <p><strong>Weather:</strong> <%= data.weather_state_name %> </p> 
    <p> <strong>Low:</strong> <%= data.min_temp %></p>  
    <p><strong>High:</strong> <%= data.max_temp %></p> 
    <p><strong>Humidity:</strong> <%= data.humidity %></p> 
    <p><strong>Wind Speed:</strong> <%= data.wind_speed %></p>

</body>
</html>